<div class="card">
    <div class="card-header">
      Síguenos en nuestras redes sociales
    </div>

    <div class="card-body">
        
        <a class="navbar-brand" href="https://www.instagram.com/josea17m/">
            <div class="iconos-del-footer">
                <img src="/design/instagram.png" alt="instagram">
                <p>josea17m</p>
            </div>
        </a>

        <a  class="navbar-brand" class="item-footer" href="https://www.instagram.com/josea17m/">
            <div class="iconos-del-footer">
                <img src="/design/facebook.png" alt="facebook">
                <p>J Alejandro Montero</p>
            </div>
        </a>

        <a class="navbar-brand" href="https://www.instagram.com/josea17m/">
            <div class="iconos-del-footer">
                <img src="/design/whatsapp.png" alt="whatsapp">
                <p>Whatsapp</p>
            </div>
        </a>

    </div>
  </div>