<div class="top-header">

  <div class="logo-header">

    <a class="navbar-brand" href="/"> 
      <img src="/design/logo3.png" alt="logo">
    </a>
    
  </div>
  
  <div class="container-iconos-top-header">

    <div class="iconos-top-header">
<div class="icono-header">
    <a href="/user">
      <img src="/design/login.png" alt="perfil">
    </a>
  </div>

    <div class="icono-header">
    <a href="/carrito">
      <img  src="/design/carrito.png" alt="carrito">
    </a>
  </div>

    <div class="icono-header">
    <a href="/favoritos">
      <img src="/design/fav.png" alt="favoritos">
    </a>
  </div>

  </div>

  </div>

</div>

<nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Hombres
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/anillos">Anillos</a></li>
                <li><a class="dropdown-item" href="/cadenas">Cadenas</a></li>
                <li><a class="dropdown-item" href="/manillas">Manillas</a></li>
                <li><hr class="dropdown-divider"></li>
              </ul>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Mujeres
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/anillos">Anillos</a></li>
                  <li><a class="dropdown-item" href="/manillas">Manillas</a></li>
                  <li><a class="dropdown-item" href="/topitos">Topitos</a></li>
                  <li><a class="dropdown-item" href="/candongas">Candongas</a></li>
                  <li><a class="dropdown-item" href="/cadenas">Cadenas</a></li>
                  <li><hr class="dropdown-divider"></li>
                </ul>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Niños y niñas
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/anillos">Anillos</a></li>
                    <li><a class="dropdown-item" href="/cadenas">Cadenas</a></li>
                    <li><a class="dropdown-item" href="/manillas">Manillas</a></li>
                    <li><a class="dropdown-item" href="/topitos">Topitos</a></li>
                    <li><hr class="dropdown-divider"></li>
                  </ul>
                  
            </li>
            
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
