<!DOCTYPE html>
<html lang="en">
    <head>

    <%- include ("./partials/head.ejs")%>

    <title>Kebisu & Joyeria | Regístrate</title>
    
    </head>
<body>
    
    <header>

        <%- include ("./partials/header.ejs")%>
    
      </header>

</body>
</html>