*{
    font-family: 'Roboto';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-size: 62.5%; */
}

/*
COLORES
*/

:root {
    --main-color: #122541;
    --second-color: #2e2f30;
    --items-color:  #FFD700;
  }

/*
HEADER
*/

.top-header{
    display: flex;
    justify-content: start;
    width: 98.75vw;
    height: 15vh;
    padding: 1%;
    /* padding-right: 2%; */
    /* align-content: center; */
    /* flex-wrap: wrap; */
    background-color: var(--main-color);
}

.navbar-brand a{
    color: var(--items-color);
}

/*
LOGO
*/

.logo-header{
    /* display: flex; */
    width: 50%;
    height: 100%;
}

.logo-header a{
    width: 100%;
    height: 100%;
}

.logo-header a img{
    width: 90%;
    height: 100%;
}

/*
ICONOS
*/

.container-iconos-top-header{
    margin-top: 0.5%;
    margin-left: 20%;
}

.iconos-top-header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    float: right;
    width: 40%;
    height: auto;
}

.icono-header a img{
    margin-left: 2%;
    width: 55%;
    height: 65%;
}

/*
NAVBAR
*/



/*
FOOTER
*/

.card{
    margin-top: 2%;
}

.card-body{
    display: flex;
    /* float: right; */
}

/*
ICONOS
*/

.iconos-del-footer img{
    width: 15%;
    height: 15%;

}

.iconos-del-footer p{
    display: inline;
    color: black;
}

a:link, a:visited {
    text-decoration: none;
  }

/*
RESPONSIVE 
*/

  @media(max-width:992px){

    .top-header{
        width: 100vw;
    }

    .container-iconos-top-header{
        visibility: hidden;
    }


  }