<!DOCTYPE html>
<html lang="en">
    <head>
    
        <%- include ("../partials/head.ejs")%>
        <title>Kebisu & Joyeria | Topitos</title>
        
      </head>
<body>
    
    <header>

        <%- include ("../partials/header.ejs")%>
    
      </header>

</body>
</html>